table {
    border-collapse: collapse;
    margin: 10px;
}
.first-row {
    background-color: #005d43;
    color: white;
    height: 60px;
}
.month-banner {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.month-banner > h1 {
    align-self: center;
}
.month-banner > input {
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    width: 15%;
}
td {
    border: 1px solid rgba(0, 0, 0, 0.674);
    height: 100px;
    width: 100px;
}
.cell-container {
    display: block;
    height: 100%;
}
td > .cell-container > span {
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    overflow: hidden;
}
.last-month-days, .next-month-days {
    color: rgb(108, 108, 108);
}
.event {
    background-color: #005d43;  
    border-radius: 5px;
    margin: 0px 1px 2px 1px;
    padding: 4px;
    color: white;
    text-align: center;
    cursor: pointer;
    min-height: 20px;
    max-height: 25px;
    overflow: hidden;
}
.event > p {
    font-weight: bold;
    font-size: 0.8rem;
    word-wrap: break-word;
}

@media screen and (max-width: 600px) {
    table{
        margin: 0;
    }
}