form {
    text-align: center;
    padding: 10px;
}
form > p {
    margin-bottom: 30px;
}
form > p > label {
    display: block;
    margin-bottom: 10px;
}
input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.569);
    padding: 5px;
}
