@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* HEAD */
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* FUNDO DA PÁGINA*/
body{
    background-color: #F5FFFA;
}

/* LETRAS DO SITE */
p {
    font-family: 'poppins' ,'display';
    padding: 10px;
    text-indent: 20px;
}

/* div das logos */
.logos{
 width: 40px;
 height: 40px;
 
}
.guarda-logo{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px; /* abrira um espaço abaixo do elemento */
}

/* CONFIGURAÇÃO DA CAIXINHA DO ANDRÉ */
.box-andre{ /* box andré é toda a caixa que sera armazenado as informações referentes ao andré- a caixa toda */
    height: auto;
    width: auto;
    background-color: #e6f5f0;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;/* nada consegue ultrapassar o tamanho dessa div */
}

.cor-foto-a{ /* é a div que contem apenas a faixa verde que está na parte de trás da foto */
    margin-top: -10px;
    height: 80px;
    width:100%;
    background-color: #66c0a7;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
    border-radius: 0px;
     
}
.foto-a{ /* é a div redonda que armazena a foto */
    margin-top: -50px;
    border-radius: 50%;
    background-size: 100%; /* define o tamanho que a foto terá dentro da div */
    width: 110px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);  
}

/* CONFIGURAÇÃO DA CAIXINHA DA BÁRBARA */
.box-barbara{ /* box bárbara é toda a caixa que será armazenado as informações referentes a bárbara- a caixa toda */
    height: auto;
    width: auto;
    background-color: #e6f5f0;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;/* nada consegue ultrapassar o tamanho dessa div */
}
.cor-foto-b{ /* é a div que contem apenas a faixa verde que está na parte de trás da foto */
    margin-top: -10px;
    height: 80px;
    width:335px;
    background-color: #66c0a7;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
    border-radius: 0px;
}
.foto-b{/* é a div redonda que armazena a foto */
    margin-top: -50px;
    border-radius: 50%;
    background-size: 100%;/* define o tamanho que a foto terá dentro da div */
    width: 110px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

/* CONFIGURAÇÃO DA CAIXINHA DA CAMILA */
.box-camila{ /* box camila é toda a caixa que será armazenado as informações referentes a camila- a caixa toda */
    height: auto;
    width: auto;
    background-color: #e6f5f0;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;/* nada consegue ultrapassar o tamanho dessa div */
}
.cor-foto-c{ /* é a div que contem apenas a faixa verde que está na parte de trás da foto */
    margin-top: -10px;
    height: 80px;
    width:335px;
    background-color: #66c0a7;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
    border-radius: 0px;
}
.foto-c{/* é a div redonda que armazena a foto */
    margin-top: -50px;
    border-radius: 50%;
    background-size: 100%;/* define o tamanho que a foto terá dentro da div */
    width: 110px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
/* FIM DA CONFIG */

.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}


/* TAMANHO 600 TABLET*/
@media only screen and (min-width:600px) {
    
    .box-andre{ /* box andré é toda a caixa que sera armazenado as informações referentes ao andré- a caixa toda */
        height: auto;
       width: auto;
       background-color: #e6f5f0;
       margin-top: 60px;
       margin-left:auto; 
       margin-right: auto;
       box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
       border-radius: 10px;
       overflow: hidden; /* nada consegue ultrapassar o tamanho dessa div */
   }
       .cor-foto-a{ /* é a div que contem apenas a faixa verde que está na parte de trás da foto */
     
       height: 80px;
       width:335px;
       margin-top: -10;
       background-color: #66c0a7;
       margin-left: auto;
       margin-right: auto;
       box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
       border-radius: 0px; /* pra n ficar redondo */
        
   }
       /* FIM DA CONF */
   
   
   /* CONFIGURAÇÃO DA CAIXINHA DA BÁRBARA */
   .box-barbara{ /* box bárbara é toda a caixa que será armazenado as informações referentes a bárbara- a caixa toda */
       height: auto;
       width: auto;
       background-color: #e6f5f0;
       margin-left:auto;
       margin-right: auto;
       margin-top: 60px;
       box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
       border-radius: 10px;
       overflow: hidden;/* nada consegue ultrapassar o tamanho dessa div */
      
   }
   .cor-foto-b{ /* é a div que contem apenas a faixa verde que está na parte de trás da foto */
       height: 80px;
       width:335px;
       margin-top: -10;
       background-color: #66c0a7;
       margin-left: auto;
       margin-right: auto;
       box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
       border-radius: 0px; /* pra n ficar redondo */
       
   }
   
   /* CONFIGURAÇÃO DA CAIXINHA DA CAMILA */
   .box-camila{ /* box camila é toda a caixa que será armazenado as informações referentes a camila- a caixa toda */
       height: auto;
       width: auto;
       background-color: #e6f5f0;
       margin-top: 60px;
       margin-left:auto;
       margin-right: auto;
       box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
       border-radius: 10px;
       overflow: hidden; /* nada consegue ultrapassar o tamanho dessa div */
       
   }
   .cor-foto-c{ /* é a div que contem apenas a faixa verde que está na parte de trás da foto */
       height: 80px;
       width:335px;
       margin-top: -10;
       background-color: #66c0a7;
       margin-left: auto;
       margin-right: auto;
       box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
       border-radius: 0px; /* pra n ficar redondo */
       
   }
    
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

    /* TAMANHO 1024  PC*/
@media only screen and (min-width: 1024px) {
    .caixote{
        display: flex; /* flexivel- deixar alinhado */
        justify-content: center; /* centralizar os elementos */
        margin-top: 3%; /* top e bottom serve par adar um espaço entre as boxs e o rodapé */
        margin-bottom: 3%;
    }

    .box-andre{ /* box andré é toda a caixa que sera armazenado as informações referentes ao andré- a caixa toda */
       background-color: #e6f5f0;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
        border-radius: 10px;
    }
    
    .cor-foto-a{ /* é a div que contem apenas a faixa verde que está na parte de trás da foto */
        height: 80px;
        width:335px;
        margin-top: -10;
        background-color: #66c0a7;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
        border-radius: 0px; /* pra n ficar redondo */ 
        z-index: 2;
    }/* FIM DA CONF */


    /* CONFIGURAÇÃO DA CAIXINHA DA BÁRBARA */
    .box-barbara{ /* box bárbara é toda a caixa que será armazenado as informações referentes a bárbara- a caixa toda */
        background-color: #e6f5f0;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
        border-radius: 10px;  
    }
    .cor-foto-b{ /* é a div que contem apenas a faixa verde que está na parte de trás da foto */
        height: 80px;
        width:335px;
        margin-top: -10;
        background-color: #66c0a7;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
        border-radius: 0px; /* pra n ficar redondo */ 
    }/* FIM DA CONF */

  

    /* CONFIGURAÇÃO DA CAIXINHA DA CAMILA */
    .box-camila{ /* box camila é toda a caixa que será armazenado as sinformações referentes a camila- a caixa toda */
        background-color: #e6f5f0;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
        border-radius: 10px;
    }
    .cor-foto-c{ /* é a div que contem apenas a faixa verde que está na parte de trás da foto */
        height: 80px;
        width:335px;
        margin-top: -10;
        background-color: #66c0a7;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
        border-radius: 0px; /* pra n ficar redondo */ 
    }

    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}