body{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.images{
    width: 190px;
    margin: 0 auto;
}

.h1_consulta{
    margin-top: 70px;
    font-size: 38px;
}

.footer{
    margin-top: 70px;
}

#selecionar{
    color: white;
    font-size: 28px;
    text-align: center;
}

.duvida{
    color: rgb(47, 134, 29);
    text-decoration: underline;
}

.mensagem{
    margin:50px auto;
    width: 85%;
    text-align: center;
}

img{
    width: 400px;
}

input{
    margin: 5px;
    font-size: 20px;
    color: rgb(14, 65, 48);
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    border: none;
}
select{
    border:3px solid white;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(14, 65, 48);
    color:white;
    font-size: 20px; 
}

main {
    margin: 10px auto ;
    color: #004632;
}
main:last-child {
    margin-bottom: 600px;
}

h1 {
    text-align: center;
    color: #002017;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.8rem;
}

main > div > div > h2 {
    color: #004632;
    display: inline-block;
}

form{
    background-color: #004632;
    height: 80%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 30px;
}

.day-container {
    margin: 30px 0px;
}

.top {
    width: 100%;
    cursor: pointer;
}
.top > span {
    vertical-align: middle;
    font-size: 2rem;
    float: right;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    
}
.top > span:active {
    background-color: rgb(237, 237, 237);
    transition:all .3s ease-in-out;
    
}
main > div > div > hr {
    background-color: #004632;
    height: 1px;
    border: none;
    border-radius: 0px 0px 20px 0px;
    width: 100%;
}

.month-container {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002017;
    color: white;
    padding: 5px;
    border-radius: 30px;
    width: 20%;
    margin: auto;
    margin-bottom: 50px;
}
.month-container > .material-symbols-outlined {
    font-size: 1.8rem;
    vertical-align: middle;
}
.material-symbols-outlined {
    margin: 0px 15px;
}

.event-content {
    display: none;
    margin: 10px 0px 0px 0px;
    animation-duration: .3s;
    overflow: hidden;
}
.event-content > h4 {
    display: inline;
}
.event-content > p {
    margin: 10px 0px;
}
#arrow-left, #arrow-right {
    cursor: pointer;
    padding: 3px;
    transition: all .1s ease-in-out;
}
#arrow-left:active, #arrow-right:active {
    background-color: #032b20;
    border-radius: 50%;
}

@keyframes contentDown {
    from {
        height: 0px;
    } to {
        height: 74px;
    }
}
@keyframes contentUp {
    from {
        height: 74px;
    } to {
        height: 0px;
    }
}